{% extends 'base.html' %}
{% block style %}
<style>
</style>
{% endblock %}
{% block title %}
HOME
{% endblock %}

{% block body %}

<div class="container">
    <p>Link to my GitHub</p>
     <a href="https://github.com/AGreatGreyMouse/DS-project-Heart-Attacks-"><button>GIT</button></a>
</div>

<div class="container">
    <p>Streamlite Page</p>
    <a href="#"><button>Streamlite</button></a>
</div>
<div class="container">
    <p>Interactive Flask page </p>
    <a href="/game"><button>Flask</button></a>
</div>
{% endblock %}